<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/standard_header.ejs") %>

        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/admin-landing.css"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/blog/edit_blog.css"
        />
    </head>
    <body>
        <%- include('../partials/body_start') %>

        <h1>HELLO</h1>
        <%- include("../partials/standard_footer.ejs") %>
    </body>
</html>