<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/standard_header.ejs") %>

        <!-- Custom CSS -->
    </head>
    <body>
        <%- include('./partials/body_start') %>

        <div>
            <h1>Welcome to the Home Page, where all blogs will be put</h1>
        </div>

        <p></p>

        <div class="container">
            <div class="column">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h5>Title: Title</h5>
                            <p>
                                Caption: This is a caption
                                dfkjdkfjdkfjdkfjdkfdjfkdjk
                            </p>
                            <button class="btn btn-primary" type="submit">
                                Go to Post
                            </button>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h5>Title: Title</h5>
                            <p>
                                Caption: This is a caption
                                dfkjdkfjdkfjdkfjdkfdjfkdjk
                            </p>
                            <button class="btn btn-primary" type="submit">
                                Go to Post
                            </button>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h5>Title: Title</h5>
                            <p>
                                Caption: This is a caption
                                dfkjdkfjdkfjdkfjdkfdjfkdjk
                            </p>
                            <button class="btn btn-primary" type="submit">
                                Go to Post
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("partials/standard_footer.ejs") %>
    </body>
</html>
