body {
    background-color: #f7f9f8;
    margin: 0 auto;
    padding-top: 126px;
    width: 70vw;
    /* height: 100vh; */
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.flash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: medium;
    color: dimgray;
    margin-left: 1em;
}
