.flex-box {
    display: flex;
}

.tabs {
    color: #fff;
    text-decoration: none;
    margin: 5px 15px;
}
.tabs:hover {
    color: #fff;
    text-decoration: underline;
    margin: 5px 15px;
}

.profile-dropdown-btn {
    color: #fff;
}

.profile-dropdown-btn:hover {
    color: #fff;
}

.dropdown-menu {
    min-width: 7rem;
    padding: 0.5rem;

    text-align: end;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
}
