<nav class="navbar navbar-dark fixed-top bg-dark bg" style="padding: 10px 20px">
    <h1>
        <a href="/" style="color: white; text-decoration: none"
            >CS 310 Project</a
        >
    </h1>
    <%- include('./user_btns.ejs') %>
</nav>
