<div class="flex-box">
    <h3><a href="#" class="tabs">Home</a>
    <h3><a href="#" class="tabs">Create Post</a>
    <h3><a href="#" class="tabs">Admin</a>
    <h3><a href="#" class="tabs">Settings</a>
</div>
