<div class="flex-box">
    <% if (!currentUser) { %>
    <div class="sidenav-item" style="margin-right: 20px">
        <a
            href="/login"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Login"
            style="color: white; text-decoration: none"
            ><i class="fas fa-sign-in-alt"></i> Login</a
        >
    </div>
    <div class="sidenav-item">
        <a
            href="/register"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Register"
            style="color: white; text-decoration: none"
            ><i class="fas fa-user-plus"></i> Register</a
        >
    </div>
    <% } else { %>
    <div class="dropdown">
        <button
            class="btn profile-dropdown-btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            <%- currentUser.email %>
        </button>
        <ul
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuButton1"
        >
            <li>
                <a class="dropdown-item" href="/about-me">About Me</a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a class="dropdown-item" href="/logout"
                    ><i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>
    <% } %>
</div>
