.comments {
    width: 30%;
    border-collapse: collapse;
    margin: 20px 0;
}

tr {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td,
th {
    min-width: 50px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.action-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.comment_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_actions > * {
    margin: 0 10px;
}

.blog_comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
}

.blog_comment_block {
    padding: 15px 0;
    border-bottom: 1px solid #eae7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_comment {
    padding: 1px 20px;
    margin: auto 0;
    border-radius: 30px;
    background-color: #eae7e7;
}