.users {
    width: 40%;
    border-collapse: collapse;
    margin: 20px 0;
}

tr {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td,
th {
    min-width: 50px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
