<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/standard_header.ejs") %>

        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/login-register.css"
        />
    </head>
    <body>
        <%- include('../partials/body_start') %>
        <!-- Register form to take in all relevant data to create an account -> Hoa -->
        <div class="container">
            <form class="form" name="login" action="/register" method="POST">
                <div>
                    <h1>Registration</h1>
                    <div>
                        <div class="relative">
                            <input
                                placeholder="example@example.com"
                                type="email"
                                name="email"
                                required
                            />
                        </div>
                        <div class="relative">
                            <input
                                placeholder="username"
                                name="username"
                                required
                            />
                        </div>
                        <div class="relative">
                            <input
                                placeholder="password"
                                type="password"
                                name="password"
                                required
                            />
                        </div>
                    </div>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>

        <%- include("../partials/standard_footer.ejs") %>
    </body>
</html>
